Repository NinjaPerson24119/PortfolioWebsite: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["prettier --write", "eslint"],
  "*.{md,json,yaml,css,scss}": ["prettier --write"]
}

tab title changes when page changes
  index.html
  package.json
  pnpm-lock.yaml
  src/routing.tsx
Due: prettier --write, eslint

refactor blog to be generic, use react-helmet-async because og has bugs
  package.json
  pnpm-lock.yaml
  src/App.tsx
  src/assets/content/blog/arvp.mdx
  src/assets/locales/en.json
  src/pages/arvp/ARVP.tsx
  src/pages/blog/Blog.module.scss
  src/pages/blog/Blog.tsx
  src/routing.tsx
Due: prettier --write, eslint

fix: blog styles
  src/assets/content/blog/arvp.mdx
  src/markdown.tsx
  src/pages/blog/Blog.module.scss
  src/styles/_colors.scss
Due: prettier --write, eslint

move header into overview page
  src/pages/overview/Header.module.scss
  src/pages/overview/Header.tsx
  src/pages/overview/HeroSection.tsx
Due: prettier --write, eslint

add drop shadow to maple leaf
  src/footer/Footer.module.scss
Due: prettier --write

switch mapleleaf to shadow with rgba, add blue drop shadow to avatar
  src/footer/Footer.module.scss
  src/pages/overview/Header.tsx
Due: prettier --write, eslint

ARVP cta breaks nicer
  src/assets/locales/en.json
  src/pages/overview/ARVPSection.module.scss
  src/pages/overview/ARVPSection.tsx
Due: prettier --write, eslint

overhaul typography, set tagline to subheader for better semantics
  src/pages/overview/ExperienceCard.tsx
  src/pages/overview/Header.tsx
  src/styles/index.scss
  src/theme/Theme.tsx
Due: prettier --write, eslint

fix job description word overflow, remove redundant org name, minor styles
  src/pages/overview/ExperienceCard.module.scss
  src/pages/overview/ExperienceCard.tsx
Due: prettier --write, eslint

indicate finished books
  src/pages/overview/ReadingListSection.tsx
Due: prettier --write, eslint

darken colors
  src/theme/Theme.tsx
Due: prettier --write, eslint

start decorating links
  src/footer/Footer.tsx
  src/markdown.tsx
Due: prettier --write, eslint

tighter width on desktop
  src/layout/Layout.tsx
Due: prettier --write, eslint

styles: experience cards
  src/pages/overview/ExperienceCard.module.scss
Due: prettier --write

marginally improve experience copy
  src/assets/content/experience/arvp-software-co-lead.mdx
  src/assets/content/experience/arvp-software-member.mdx
  src/assets/content/experience/vendasta-developer-ii.mdx
  src/assets/content/experience/vendasta-developer-intern.mdx
  src/assets/content/experience/wcb-alberta-developer.mdx
Due: none

add subtitles to work experience
  src/assets/content/experience/vendasta-developer-intern.mdx
  src/assets/locales/en.json
  src/pages/overview/ExperienceCard.tsx
  src/pages/overview/ExperienceSection.tsx
Due: prettier --write, eslint

try montage
  public/pre-university-projects/montage.sh
Due: none

give up on montage
  public/pre-university-projects/montage.sh
Due: none

rename tab thumbnail
  index.html
  public/avatar-thumbnail.jpeg
Due: none

forgot to push updated montage code
  src/pages/overview/ProjectsSection.module.scss
  src/pages/overview/ProjectsSection.tsx
Due: prettier --write, eslint

change isDesktop semantics to use Md, etc. Add md/lg for more responsive header, fix montage alignment
  src/constants.tsx
  src/footer/Footer.module.scss
  src/footer/Footer.tsx
  src/layout/Layout.module.scss
  src/layout/Layout.tsx
  src/navigation/IconsBar.module.scss
  src/navigation/IconsBar.tsx
  src/navigation/Navigation.tsx
  src/pages/blog/Blog.module.scss
  src/pages/overview/Header.module.scss
  src/pages/overview/Header.tsx
  src/pages/overview/Overview.module.scss
  src/pages/overview/ProjectsSection.module.scss
  src/styles/breakpoints.scss
  src/theme/Theme.tsx
Due: prettier --write, eslint

reactive width for projects montage
  src/pages/overview/ProjectsSection.module.scss
Due: prettier --write

bubbles test
  src/BubblesOverlay.module.scss
  src/BubblesOverlay.tsx
  src/layout/Layout.tsx
Due: prettier --write, eslint

cloud functions for email
  functions/forward_contact_submission.ts
  package.json
  pnpm-lock.yaml
  src/pages/overview/Overview.tsx
Due: prettier --write, eslint

rename to _middleware special name
  functions/_middleware.ts
Due: prettier --write, eslint

we hope this now calls an api
  functions/api/contact.ts
  src/pages/overview/Overview.tsx
Due: prettier --write, eslint

le sigh, export cloud function
  functions/api/contact.ts
Due: prettier --write, eslint

rm cloud functions from tsconfig again
  tsconfig.json
Due: prettier --write

add missing BoldItalic roboto woff2
  src/assets/fonts/roboto/Roboto-BoldItalic.woff2
Due: none

add tertiary color, style contact form
  src/@types/mui.d.ts
  src/assets/locales/en.json
  src/pages/overview/ContactForm.module.scss
  src/pages/overview/ContactForm.tsx
  src/theme/Theme.tsx
Due: prettier --write, eslint

add glow to contact form, with email icons
  src/pages/overview/ContactForm.tsx
Due: prettier --write, eslint

add success snack
  src/assets/locales/en.json
  src/pages/overview/ContactForm.tsx
Due: prettier --write, eslint

fix typing, add _routes
  functions/_routes.json
  functions/api/contact.ts
Due: prettier --write, eslint

eslint ignore functions dir
  .eslintignore
Due: none

refactor cloud function to be standalone POST, sending confirmation email as well as forwarding. remove useless plugin from cloudflare
  functions/api/contact.ts
  package.json
  pnpm-lock.yaml
  src/assets/locales/en.json
  src/pages/overview/ContactForm.tsx
Due: prettier --write, eslint

add more guards to cloud func, use correct form content type
  functions/api/contact.ts
  src/pages/overview/ContactForm.tsx
Due: prettier --write, eslint
