Repository NinjaPerson24119/PortfolioWebsite: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

convert jpg to webp, add progressive image
  index.html
  public/arvp/yolactPoster.webp
  public/avatar-thumbnail.jpeg
  public/avatar-thumbnail.webp
  src/ProgressiveImage/ProgressiveImage.tsx
  src/assets/images/avatar-jellyfish.jpeg
  src/assets/images/avatar-jellyfish.webp
  src/assets/images/dark-waves.jpg
  src/assets/images/dark-waves.webp
  src/assets/images/montagePoster.webp
  src/pages/overview/ARVPSection.tsx
  src/pages/overview/Header.tsx
  src/pages/overview/ProjectsSection.module.scss
  src/pages/overview/ProjectsSection.tsx
Due: prettier --write, eslint

fix: ProgressiveImage unpacking prop improperly
  src/ProgressiveImage/ProgressiveImage.tsx
Due: prettier --write, eslint

Revert "rm suspense because page loads really fast anyway"
  src/Loading.tsx
  src/pages/blog/BlogPage.tsx
  src/pages/overview/OverviewPage.tsx
Due: prettier --write, eslint

rename animation to include Animation
  public/arvp/yolactAnimation.webp
  public/arvp/yolactAnimationPoster.webp
  src/pages/overview/ARVPSection.tsx
Due: prettier --write, eslint

convert blog images to webp
  public/arvp/2019-onboarding-cover.png
  public/arvp/2019-onboarding-cover.webp
  public/arvp/ARVP_MemberOfMonth_November.png
  public/arvp/ARVP_MemberOfMonth_November.webp
  public/arvp/arctos-motion-gazebo-poster.png
  public/arvp/arctos-motion-gazebo-poster.webp
  public/arvp/arvp-computer-vision-presentation.png
  public/arvp/arvp-computer-vision-presentation.webp
  public/arvp/auri-foggy-transdec.png
  public/arvp/auri-foggy-transdec.webp
  public/arvp/bookstack.png
  public/arvp/bookstack.webp
  public/arvp/c.sh
  public/arvp/gazebo-over-gate.png
  public/arvp/gazebo-over-gate.webp
  public/arvp/gazebo-underwater.png
  public/arvp/gazebo-underwater.webp
  public/arvp/gslicr-with-grid.png
  public/arvp/gslicr-with-grid.webp
  public/arvp/histogram-technique-gate-detector.jpg
  public/arvp/histogram-technique-gate-detector.webp
  public/arvp/mapping-object-projection.png
  public/arvp/mapping-object-projection.webp
  public/arvp/openchisel-3d-reconstruction.png
  public/arvp/openchisel-3d-reconstruction.webp
  public/arvp/path-detector-with-superpixels.png
  public/arvp/path-detector-with-superpixels.webp
  public/arvp/rviz-mapper.png
  public/arvp/rviz-mapper.webp
  public/arvp/shape-matcher-database-generator.png
  public/arvp/shape-matcher-database-generator.webp
  public/arvp/superpixels-nice-output.png
  public/arvp/superpixels-nice-output.webp
  public/arvp/trello.png
  public/arvp/trello.webp
  public/arvp/yolact.png
  public/arvp/yolact.webp
  src/assets/content/blog/arvp.mdx
Due: none

progressive load avatar image
  public/arvp/c.sh
  public/avatar-thumbnail-blurred.webp
  src/assets/images/avatar-jellyfish-blurred.webp
  src/pages/overview/Header.tsx
Due: prettier --write, eslint

add image dims
  public/avatar-thumbnail-blurred.webp
  src/pages/overview/ARVPSection.tsx
  src/pages/overview/Header.tsx
  src/pages/overview/ProjectsSection.tsx
Due: prettier --write, eslint

add mp4 to gitattributes
  .gitattributes
Due: none

ignore user preferences for dark/light modes
  src/theme/Theme.tsx
Due: prettier --write, eslint

feat: add Frenter work experience
  src/assets/content/experience/frenter-developer-iii.mdx
  src/assets/locales/en.json
  src/pages/overview/ExperienceSection.tsx
Due: prettier --write, eslint

fix: typo, spacing
  src/assets/content/blog/fishing_game.mdx
  src/pages/overview/ARVPSection.tsx
  src/pages/overview/FishingGameSection.module.scss
Due: prettier --write, eslint

fix: typo
  .prettierignore
  src/assets/locales/en.json
Due: prettier --write

Path conditions:
  prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{md,json,yaml,css,scss})
  eslint: any of: *.{js,jsx,ts,tsx}
